:root {
	--hue-accent: 160deg;
	--accent: hsl(var(--hue-accent) 44% 44%);
	--accent-subtle: hsl(var(--hue-accent) 33% 66%);
	accent-color: var(--accent);
	color-scheme: dark;
	scrollbar-color: hsl(var(--hue-accent) 10% 25% / 80%) transparent;
}

:root:hover { scrollbar-color: hsl(var(--hue-accent) 10% 30% / 85%) transparent }
::selection { background-color: hsl(var(--hue-accent) 33% 80% / 33%) }

@media (prefers-color-scheme: light) {
	:root { color-scheme: light }
	::selection { color: hsl(0 0% 12%) }
	body > footer { background-color: white }
}

@media (prefers-color-scheme: dark) {
	::selection { color: whitesmoke }
	body > footer { background-color: #121212 }
}

html {
	background-attachment: fixed;
	background-image: url(/assets/images/icons/favicon-watermark.svg);
	background-position: center;
	background-repeat: no-repeat;
}

body {
	font-family: 'Segoe UI','Helvetica Neue',Helvetica,Roboto,Oxygen,Ubuntu,Cantarell,'Fira Sans','Droid Sans',sans-serif;
	margin: 0;
}

/* BG Animation */
body { background-image: linear-gradient(45deg, hsl(0 0% 0% / 66%), hsl(0deg 0% 0% / 33%)) }

@keyframes abstract-background {
	0% { background-color: hsl(240 65% 27% / 66%) }
	25% { background-color: hsl(179 45% 65% / 66%) }
	50% { background-color: hsl(145 53% 41% / 66%) }
	75% { background-color: hsl(180 100% 25% / 66%) }
	100% { background-color: hsl(25 100% 50% / 66%) }
}

@media (prefers-color-scheme: light) {
	body { background-image: linear-gradient(45deg, hsl(0 0% 90% / 60%), hsl(0 0% 90% / 10%)) }
}

body {
	animation: abstract-background 10s infinite alternate ease-in-out;
	transition: background-color .3s, color .3s;
	will-change: background-color;
}
/* BG Animation End */

a { color: currentColor }
a:not(:hover) { text-decoration: none }

.notice {
	align-content: center;
	font-size: clamp(13px, 5vmin, 33px);
	font-weight: 100;
	height: 100vh;
	margin: 0 clamp(4px, 2.5em, 5vw);
	text-align: center;
}

.icon {
	min-height: 1em;
	min-width: 1em;
}

.icon, .social-icon {
	aspect-ratio: 1;
	background-color: currentColor;
	mask-position: center;
	mask-repeat: no-repeat;
	/* min-height: 1em;
	min-width: 1em; */
}

body > footer {
	/* experiment */
	opacity: .75;
	/* experiment end */
	border-top: 1px solid hsl(0 0 50% / 25%);
	padding: 4em 5% 2em;
}

body > footer > main {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: 2em;
	margin: 0 auto;
	max-width: 1400px;
}

body > footer .logo {
	font-size: 1.65em;
	font-weight: 700;
	margin-bottom: 1em;
	display: block;
}

body > footer .logo > span { color: var(--accent) }
body > footer .blurb {
	color: hsl(0 0 50%);
	margin-bottom: 1.5em;
}

.social-links { display: flex }
.social-links a {
	align-items: center;
	color: var(--accent);
	display: inline-flex;
	height: 1.6em;
	justify-content: center;
	margin-right: 1em;
	width: 1.6em;
}

body > footer .contact h3 { margin-bottom: 1em }
body > footer .contact p {
	align-items: center;
	color: hsl(0 0 50%);
	display: flex;
	margin-bottom: 1em;
}

body > footer .contact p .icon {
	color: var(--accent);
	margin-right: 1em;
}

/* body > footer > .copyright::before { content: "© " } */
body > footer > .copyright {
	border-top: 1px solid hsl(0 0 50% / 10%);
	color: hsl(0 0 50% / 80%);
	font-size: .9em;
	margin-bottom: 0;
	margin-top: 2em;
	padding-top: 2em;
	text-align: center;
}

.icon.hours { mask-image: url(/assets/images/icons/contact/hours.svg) }
.icon.location { mask-image: url(/assets/images/icons/contact/location.svg) }
.icon.mail { mask-image: url(/assets/images/icons/contact/mail.svg) }
.icon.phone { mask-image: url(/assets/images/icons/contact/phone.svg) }
.social-icon.facebook { mask-image: url(/assets/images/icons/social/facebook.svg) }
.social-icon.instagram { mask-image: url(/assets/images/icons/social/instagram.svg) }

.non-selectable { user-select: none }

.vertical-rule {
	background-color: hsl(0 0 50% / 75%);
	display: inline-block;
	height: 1em;
	margin-block-start: auto;
	margin-block-end: auto;
	margin-inline-start: .5em;
	margin-inline-end: .5em;
	vertical-align: middle;
	width: 1px;
}