@media (prefers-color-scheme: dark) {
	:root { color-scheme: dark }
}

@keyframes abstract-background {
	0% { background-color: hsl(240, 65%, 27%) }
	25% { background-color: hsl(179, 45%, 65%) }
	50% { background-color: hsl(145, 53%, 41%) }
	75% { background-color: hsl(180, 100%, 25%) }
	100% { background-color: hsl(25, 100%, 50%) }
}

html { font-family: Arial, Helvetica, sans-serif }
body {
	animation: abstract-background 10s infinite alternate ease-in-out;
	background-attachment: fixed;
	background-color: hsl(240 65% 27%);
	background-image: linear-gradient(45deg, hsl(0 0% 0% / 90%), transparent);
	align-items: stretch;
	display: flex;
	flex-direction: column;
	height: calc(100vh - 16px);
	justify-content: center;
	/* font-size: clamp(.75rem, 1vmin, 2rem); */
	margin: 8px auto;
	width: fit-content;
}

.caption {
	--ico-size: 2em;
	align-content: initial;
	font-size: 1.25em;
	font-weight: bold;
	line-height: var(--ico-size);
	text-align: left;
	text-indent: .75em;
	width: 100%;
}

.caption::before {
	aspect-ratio: 1;
	background-image: url(./icon.svg);
	background-size: contain;
	content: "";
	display: block;
	filter: grayscale() contrast(0) brightness(2);
	float: left;
	height: var(--ico-size);
	width: auto;
}

/* @font-face {
	font-display: block;
	font-family: 'icomoon';
	font-style: normal;
	font-weight: normal;
	src: url(/assets/fonts/icomoon/icomoon.ttf) format('truetype'),
		url(/assets/fonts/icomoon/icomoon.woff) format('woff'),
		url(/assets/fonts/icomoon/icomoon.svg) format('svg');
}

.caption::before {
	aspect-ratio: 1;
	content: "\e900";
	display: block;
	filter: grayscale() contrast(0) brightness(2);
	float: left;
	font-family: icomoon, 'icomoon';
	font-size: var(--ico-size);
	height: var(--ico-size);
	line-height: var(--ico-size);
	width: auto;
} */